.header-my-green{
    background-color: #81f5FF;
  }

.sticky {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
  }

.button-my-green-2{
    background-color: #81f542;
}

.border-bottom-custom {
    border: none; /* Remove all borders */
    border-bottom: 4px solid black; /* Add a 4px solid red border at the bottom */
    border-radius: 0; /* Optional: Remove border-radius if you want sharp corners */
}


/* Csak sm méret alatt */
@media (max-width: 770px) {
    .responsive-button {
        width: 100%;
    }
}
