.header-my-green{
    background-color: white;
  }

.header-border{
    border-bottom: 2px solid black;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
  }

.button-my-green-2{
    background-color: black;
    color: white;
    font-weight: bolder;
    border-bottom: 2px solid white; /* Add a 4px solid red border at the bottom */
    border-left: 2px solid white;
    border-right: 2px solid white;
}

.border-x{
    border: none; /* Remove all borders */
    border-bottom: 2px solid black; /* Add a 4px solid red border at the bottom */
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-radius: 0; /* Optional: Remove border-radius if you want sharp corners */
}

.color-black:hover{
    font-weight: bolder;
}


/* Csak sm méret alatt */
@media (max-width: 770px) {
    .responsive-button {
        width: 100%;
    }
}
