@media (max-width: 777px) {
  .btn {
      width: 100%; /* A gombok szélessége 100% lesz 777px alatt */
  }
}

.button-border-2{
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.bg-gray:hover {
  background-color: lightgray;
}

.checked {
    color: yellow;
  }

.border-black-2{
    border: 2px solid black; 
}