@media (max-width: 777px) {
  .btn {
      width: 100%; /* A gombok szélessége 100% lesz 777px alatt */
  }
}

.button-my-green{
    background-color: #81f5FF;
    font-size: 12px;
}

.button-my-green-70 {
  background-color: #81f5CC;
  font-size: 12px;
}

.button-my-green-85 {
  background-color: #81f500;
  font-size: 12px;
}

.button-my-green:hover, .button-my-green-70:hover, .button-my-green-85:hover {
  background-color: lightgray;
}


.checked {
    color: orange;
  }

.border-black-2{
    border: 2px solid black; 
}